translate_agent_dify_workflow.yml
app:
  description: "AndrewNG\u7FFB\u8BD1"
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: "AndrewNG\u7FFB\u8BD1"
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1718950505392-source-1718950511536-target
      source: '1718950505392'
      sourceHandle: source
      target: '1718950511536'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: if-else
      id: 1718950511536-source-1718953575148-target
      source: '1718950511536'
      sourceHandle: source
      target: '1718953575148'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1718953575148-true-1718953644457-target
      source: '1718953575148'
      sourceHandle: 'true'
      target: '1718953644457'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1718953575148-false-1718953728395-target
      source: '1718953575148'
      sourceHandle: 'false'
      target: '1718953728395'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1718953644457-source-1718953861684-target
      source: '1718953644457'
      sourceHandle: source
      target: '1718953861684'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1718953728395-source-1718953861684-target
      source: '1718953728395'
      sourceHandle: source
      target: '1718953861684'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1718953861684-source-1718953919176-target
      source: '1718953861684'
      sourceHandle: source
      target: '1718953919176'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1718953919176-source-1718954004515-target
      source: '1718953919176'
      sourceHandle: source
      target: '1718954004515'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: "\u6E90\u8BED\u8A00"
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: source_lang
        - label: "\u76EE\u6807\u8BED\u8A00"
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: target_lang
        - label: "\u539F\u6587"
          max_length: 10000
          options: []
          required: true
          type: paragraph
          variable: source_text
        - label: "\u56FD\u5BB6"
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: country
      height: 167
      id: '1718950505392'
      position:
        x: 266.0000020980731
        y: 293
      positionAbsolute:
        x: 266.0000020980731
        y: 293
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: 01-ai/Yi-1.5-34B-Chat
          provider: siliconflow
        prompt_template:
        - edition_type: basic
          id: 302c4448-fc5a-47c4-b6cb-8924b188a054
          role: system
          text: You are an expert linguist, specializing in translation from {{#1718950505392.source_lang#}}
            to {{#1718950505392.target_lang#}}.
        - id: cdf1828b-5d79-4ab9-a8fe-0e49bb870123
          role: user
          text: 'This is an {{#1718950505392.source_lang#}} to {{#1718950505392.target_lang#}}
            translation, please provide the {{#1718950505392.target_lang#}} translation
            for this text. \


            Do not provide any explanations or text apart from the translation.

            {{#1718950505392.source_lang#}}: {{#1718950505392.source_text#}}


            {{#1718950505392.target_lang#}}:'
        selected: false
        title: "\u521D\u6B65\u7FFB\u8BD1"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1718950511536'
      position:
        x: 546.2073814976728
        y: 531.7634486239392
      positionAbsolute:
        x: 546.2073814976728
        y: 531.7634486239392
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        conditions:
        - comparison_operator: not empty
          id: '1718953577998'
          value: ''
          variable_selector:
          - '1718950505392'
          - country
        desc: ''
        logical_operator: and
        selected: false
        title: "\u6761\u4EF6\u5206\u652F"
        type: if-else
      height: 125
      id: '1718953575148'
      position:
        x: 819.5081468425453
        y: 307.7383148789466
      positionAbsolute:
        x: 819.5081468425453
        y: 307.7383148789466
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: 01-ai/Yi-1.5-34B-Chat
          provider: siliconflow
        prompt_template:
        - id: 48e8f5df-011c-4e8e-a82b-1cf4c2a55a68
          role: system
          text: 'Your task is to carefully read a source text and a translation from
            {{#1718950505392.source_lang#}} to {{#1718950505392.target_lang#}}, and
            then give constructive criticism and helpful suggestions to improve the
            translation. \




            The final style and tone of the translation should match the style of
            {{#1718950505392.target_lang#}} colloquially spoken in {{#1718950505392.country#}}.



            The source text and initial translation, delimited by XML tags <SOURCE_TEXT></SOURCE_TEXT>
            and <TRANSLATION></TRANSLATION>, are as follows:

            <SOURCE_TEXT>

            {{#1718950505392.source_text#}}

            </SOURCE_TEXT>

            <TRANSLATION>

            {{#1718950511536.text#}}

            </TRANSLATION>

            When writing suggestions, pay attention to whether there are ways to improve
            the translation''s \n\

            (i) accuracy (by correcting errors of addition, mistranslation, omission,
            or untranslated text),\n\

            (ii) fluency (by applying {{#1718950505392.target_lang#}} grammar, spelling
            and punctuation rules, and ensuring there are no unnecessary repetitions),\n\




            (iii) style (by ensuring the translations reflect the style of the source
            text and takes into account any cultural context),\n\

            (iv) terminology (by ensuring terminology use is consistent and reflects
            the source text domain; and by only ensuring you use equivalent idioms
            {{#1718950505392.target_lang#}}).\n\



            Write a list of specific, helpful and constructive suggestions for improving
            the translation.

            Each suggestion should address one specific part of the translation.

            Output only the suggestions and nothing else.'
        selected: false
        title: "\u5B58\u5728\u56FD\u5BB6\u7684\u7FFB\u8BD1"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1718953644457'
      position:
        x: 1152.3674998467686
        y: 195.42819986497122
      positionAbsolute:
        x: 1152.3674998467686
        y: 195.42819986497122
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: 01-ai/Yi-1.5-34B-Chat
          provider: siliconflow
        prompt_template:
        - id: 6cb5ff4f-86b8-443c-bc1b-f14ff1edfe12
          role: system
          text: 'Your task is to carefully read a source text and a translation from
            {{#1718950505392.source_lang#}} to {{#1718950505392.target_lang#}}, and
            then give constructive criticism and helpful suggestions to improve the
            translation. \



            The source text and initial translation, delimited by XML tags <SOURCE_TEXT></SOURCE_TEXT>
            and <TRANSLATION></TRANSLATION>, are as follows:

            <SOURCE_TEXT>

            {{#1718950505392.source_text#}}

            </SOURCE_TEXT>

            <TRANSLATION>

            {{#1718950511536.text#}}

            </TRANSLATION>

            When writing suggestions, pay attention to whether there are ways to improve
            the translation''s \n\

            (i) accuracy (by correcting errors of addition, mistranslation, omission,
            or untranslated text),\n\

            (ii) fluency (by applying {{#1718950505392.target_lang#}} grammar, spelling
            and punctuation rules, and ensuring there are no unnecessary repetitions),\n\



            (iii) style (by ensuring the translations reflect the style of the source
            text and takes into account any cultural context),\n\

            (iv) terminology (by ensuring terminology use is consistent and reflects
            the source text domain; and by only ensuring you use equivalent idioms
            {{#1718950505392.target_lang#}}).\n\


            Write a list of specific, helpful and constructive suggestions for improving
            the translation.

            Each suggestion should address one specific part of the translation.

            Output only the suggestions and nothing else.'
        selected: false
        title: "\u4E0D\u5B58\u5728\u56FD\u5BB6\u7684\u7FFB\u8BD1"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1718953728395'
      position:
        x: 1152.3674998467686
        y: 508.8952075887614
      positionAbsolute:
        x: 1152.3674998467686
        y: 508.8952075887614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        output_type: string
        selected: false
        title: "\u53D8\u91CF\u805A\u5408\u5668"
        type: variable-aggregator
        variables:
        - - '1718953728395'
          - text
        - - '1718953644457'
          - text
      height: 137
      id: '1718953861684'
      position:
        x: 1486.5744732161168
        y: 356.1504099784407
      positionAbsolute:
        x: 1486.5744732161168
        y: 356.1504099784407
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: 01-ai/Yi-1.5-34B-Chat
          provider: siliconflow
        prompt_template:
        - id: 0b4c64da-5d3f-4d59-a035-4e8d43e8d593
          role: system
          text: 'Your task is to carefully read, then edit, a translation from {{#1718950505392.source_lang#}}
            to {{#1718950505392.target_lang#}}, taking into




            account a list of expert suggestions and constructive criticisms.

            The source text, the initial translation, and the expert linguist suggestions
            are delimited by XML tags <SOURCE_TEXT></SOURCE_TEXT>, <TRANSLATION></TRANSLATION>
            and <EXPERT_SUGGESTIONS></EXPERT_SUGGESTIONS> \

            as follows:

            <SOURCE_TEXT>

            {{#1718950505392.source_text#}}

            </SOURCE_TEXT>

            <TRANSLATION>

            {{#1718950511536.text#}}

            </TRANSLATION>

            <EXPERT_SUGGESTIONS>

            {{#1718953861684.output#}}

            </EXPERT_SUGGESTIONS>

            Please take into account the expert suggestions when editing the translation.
            Edit the translation by ensuring:

            (i) accuracy (by correcting errors of addition, mistranslation, omission,
            or untranslated text),

            (ii) fluency (by applying {{#1718950505392.target_lang#}} grammar, spelling
            and punctuation rules and ensuring there are no unnecessary repetitions),
            \



            (iii) style (by ensuring the translations reflect the style of the source
            text)

            (iv) terminology (inappropriate for context, inconsistent use), or

            (v) other errors.

            Output only the new translation and nothing else.'
        selected: false
        title: "\u7FFB\u8BD1\u6548\u679C\u589E\u5F3A"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1718953919176'
      position:
        x: 1783.88427286755
        y: 207.73831344191024
      positionAbsolute:
        x: 1783.88427286755
        y: 207.73831344191024
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1718953919176'
          - text
          variable: translation_result
        selected: false
        title: "\u7ED3\u675F"
        type: end
      height: 89
      id: '1718954004515'
      position:
        x: 2061.181900122829
        y: 400.9272612359544
      positionAbsolute:
        x: 2061.181900122829
        y: 400.9272612359544
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -409.96609824146935
      y: 80.14816271090882
      zoom: 0.8705505858143526
